{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}
{{ cat_names|get_item:cats }}
{% endblock title %}

{% block content %}
<h1>Категория {{ cat_names|get_item:cats }}</h1>
{% if category_ads %}

    <ul>
            {% for post in category_ads %}

                <li><a href="{% url 'post_detail' post.id %}">{{ post.title}}</a>
                - {{ post.user.first_name }} {{ post.user.last_name }} -
                {{ post.post_time }} <small>
            {% if user.id == post.author.id %}
                <a href="{% url 'post_update' post.id %}">Редактировать</a>
                <a href="{% url 'post_delete' post.id %}">Удалить</a>
            {% endif %}
            </small>
                </li>



            {% endfor %}
    </ul>


{% else %}
    <h2>В этой категории объявлений пока что нет(((</h2>
{% endif %}

{% endblock content %}